DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
ABLY_API_KEY="your-ably-api-key"
NEXT_PUBLIC_APP_NAME="RamerLabs Poker"
